.Main {
    background-color: #F7F7F7;
}
.Main .center {
    width: 1440px;
    height: 928px;
    margin: 0 auto;
}

.Main .text_box {
    padding-top: 351px;
    margin-left: 102px;
}
.Main .text_box .marketing {
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 8px;
}
.Main .text_box .seoyeon {
    font-weight: 900;
    font-size: 91px;
    margin-bottom: 68px;
}

.Main .text_box .portfolio_box {
    font-weight: 500;
    font-size: 25px;
    width: 216px;
    height: 65px;
    border-radius: 32.5px;
    border: 1px solid #1A1A1A;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}