.center {
    width: 1440px;
    margin: 0 auto;
}
/* 첫번째 페이지 시작 */
.rangmoo .page1 .center {
    display: flex;
    background-color: antiquewhite;
    justify-content: space-between;
    padding: 0 40px;
}
.rangmoo .page1 .left .top {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.rangmoo .page1 .left .top .title {
    margin-top: 231px;
}
.rangmoo .page1 .left .top .explain {
    margin-bottom: 335px;
}

.rangmoo .page1 .left .bot {
    display: flex;
    gap: 23px;
}
.rangmoo .page1 .left .bot .bot_left {
    font-size: 17px;
    font-weight: 700;
    line-height: 28px;
}
.rangmoo .page1 .left .bot .bot_right   {
    font-size: 17px;
    font-weight: 500;
    line-height: 28px;
}
.rangmoo .page1 .right {
    display: flex;
    margin-top: 99px;
    margin-right: 10px;
}

/* 주요 성과 시작 */
.rangmoo .main_suc .center {
    background-color:cadetblue;
}
.main_suc .title {
    margin: 0 auto;
    text-align: center;
}
.main_suc .sucs {
    margin: 0 auto;
    margin-top: 185px;
    display: flex;
    gap: 213px;
    padding-left: 277px;
    padding-right: 277px;
}
.main_suc .sucs .suc {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: center;
}
.main_suc .sucs .suc .num {
    font-weight: 800;
    font-size: 53px;
    line-height: 43px;
}
.main_suc .sucs .suc .cont {
    font-weight: 800;
    font-size: 28px;
}
/* 주요 성과 끝 */

/* 전략 수정 4가지 시작 */
.rangmoo .strat .center {
    background-color: darkseagreen;
}
/* 성공 사례 분석 전략 시작 */
.rangmoo .strat .strat_title {
    text-align: center;
    margin-top: 385px;
    margin-bottom: 107px;
}
.rangmoo .strat .title_set {
    text-align: center;
    margin-bottom: 111px;

}
.rangmoo .strat .title_set .title {
    margin-bottom: 26px;
}
.rangmoo .strat .strat_boxes {
    display: flex;
    justify-content: space-between;
}
.rangmoo .strat .strat_left {
    display: flex;
    position: relative;
    /* margin-left: -200px; */
}
.rangmoo .strat .left_img {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 270px;
}
.rangmoo .strat .before {
    font-size: 28px;
    font-weight: 800;
}
.rangmoo .strat .left_img img {
    width: 264px;
    height: 528px;
    /* background-color: red; */
    position: relative;
    z-index: 2;
}
.rangmoo .strat .left_box {
    width: 350px;
    height: 263px;
    background-color: antiquewhite;
    border-radius: 23px;
    padding: 30px 46px 30px 49px;
    position: absolute;
    top: 272px;
    left: 235px;
    z-index: 1;
}
.rangmoo .strat .left_box ul {
    display: flex;
    flex-direction: column;
    gap: 29px;
}

.rangmoo .strat .right_img {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 270px;
    position: relative;
}
.rangmoo .strat .after {
    font-size: 28px;
    font-weight: 800;
}
.rangmoo .strat .right_img img {
    width: 264px;
    height: 528px;
    position: relative;
    z-index: 2;
}
.rangmoo .strat .strat_right {
    display: flex;
    position: relative;
}
.rangmoo .strat .right_box {
    width: 350px;
    height: 263px;
    background-color: rgb(135, 189, 189);
    border-radius: 23px;
    padding: 30px 51px 30px 22px;
    position: absolute;
    top: 272px;
    right: 235px;
    z-index: 1;
}
.rangmoo .strat .right_box ul {
    display: flex;
    flex-direction: column;
    gap: 29px;
}
/* 성공 사례 분석 전략 끝 */
/* 꾸준함 신뢰 시작 */
.rangmoo .trust_box {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}
.rangmoo .trust_left img{
    width: 717px;
    height: 445px;
}
.rangmoo .trust_right {
    margin-top: 62px;
    margin-left: 40px;
}
.rangmoo .trust_right ul {
    display: flex;
    flex-direction: column;
    gap: 58px;
}
.rangmoo .trust_right ul li {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

/* 꾸준함 신뢰 끝 */
/* 소통 생명력 시작 */
.rangmoo .commu {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rangmoo .commu .commu_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rangmoo .commu .title_set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 26px;
}

.rangmoo .commu .commu_cont .replies {
    display: flex;
    flex-direction: column;
    gap: 19px;
    justify-content: center;
    align-items: center;
    background-color: rebeccapurple;
}
.rangmoo .commu .commu_cont .replies .reply {
    width: 671px;
    height: 186px;
    border-radius: 17px;
    background-color: aliceblue;
}
.rangmoo .commu .commu_cont .replies .reply1 {
    margin-right: 260px;
}
.rangmoo .commu .commu_cont .replies .reply2 {
    margin-left: 243px;
}
.rangmoo .commu .commu_cont .replies .reply3 {
    margin-right: 242px;
}

.rangmoo .commu .dots {
    margin-top: 66px;
    margin-bottom: 135px;
}

.rangmoo .commu .cont_boxes {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.rangmoo .commu .cont_boxes .cont_box {
    width: 378px;
    height: 233px;
    background-color: #F5F5F5;
    border-radius: 30px;
    padding: 0 42px 27px 42px;
}
.rangmoo .commu .cont_boxes .cont_box .blue_box {
    background-color: #3958B3;
    width: 129px;
    height: 37px;
    border-radius: 0 0 6px 6px;
    color: #fff;
    text-align: center;
    margin-bottom: 23px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rangmoo .commu .cont_boxes .cont_box .reply_title {
    color: #3958B3;
}
.rangmoo .commu .cont_boxes .cont_box .line {
    width: 294px;
    height: 1px;
    background-color: #DAD3D3;
    margin-top: 7px;
    margin-bottom: 17px;
}
/* 소통 생명력 끝 */
/* 밈 소통 시작 */
.rangmoo .mim {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rangmoo .mim .title_set {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.rangmoo .mim .mim_set {
    display: flex;
    background-color: yellow;
    position: relative;
    width: 1165px;
}

.rangmoo .mim .mim_set .mim_sauce {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 241px;
}
.rangmoo .mim .mim_set .mim_arrow {
    height: 10px;
     margin-top: 416px;
     margin-left: 26px;
}
.rangmoo .mim .mim_set .mim_rang {
    position: absolute;
    top: 20px;
    left: 50px;

}
.rangmoo .mim .mim_set .mim_rang img {
    width: 873px;
    height: 873px;
}

.rangmoo .mim .mim_text_boxes {
    display: flex;
    flex-direction: column;
    margin-left: 400px;
    gap: 67px; 
    padding-top: 254px;
    padding-bottom: 214px;
    justify-content: flex-end;
}
.rangmoo .mim .mim_text_box {
    display: flex;
}
.rangmoo .mim .mim_text_box .mim_line1 {
    width: 131px;
    height: 11px;
    margin-right: 23px;
    margin-top: 10px;
}
.rangmoo .mim .mim_text_box .mim_line2 {
    width: 197px;
    height: 11px;
    margin-right: 23px;
    margin-top: 10px;
}
/* 밈 소통 끝 */